/data/
/analysis/
/devel/
/.virtualenv/
/setup.sh
/pre_processing/examples/
/pre_processing/pipeline_struct/logs/
/pre_processing/pipeline_func/logs/
/pre_processing/fsaverage_extension/logs/
/gradients/logs/
/gradients/tests/
/gradients/figures/
